.action {
    margin-top: 20px;
    &__list {
        position: relative;
        list-style: none;
    }
    &__item {
        margin-right: 20px;
        display: inline-block;
        width: 60px;
        cursor: pointer;
        
        
        &:hover {
            text-decoration: underline;
        }
        background-color: green;
        border-radius: 32px;
    }
}

.strike {
    text-decoration: line-through;
  }